.calculator_main {
   display:flex;
   align-items:center;
   justify-content:center;
   height: 100vh;
}

.calculator_main main {
    background-image: url('../images/pattern_c.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 2px 2px 2px black;
}


.Numbers {
    padding: 10px;
}

.Numbers input {
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 900;
    margin-left: 5px;
}

.operators > button {
    padding: 10px;
    margin-left: 5px;
    font-weight: 900;
    font-size: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.operators {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.result {
    padding: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: 900;
}

.btns {
    display: flex;
    flex-direction: column;
}

.btns button {
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
}

@media only screen and (max-width: 760px) {
    .calculator_main {
        padding: 20px;
    }
    .Numbers  {
    display: flex;
    flex-direction: column;
    }
    .Numbers input {
        margin-bottom: 5px;
    }
    .result {
        height: 85px;
        width: 340px;
    }
  }